.gallery {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  @media (min-width: 991px) {
    margin: 0 0 0 50px;
    max-width: 444px;
    width: 100%;
  }
}


.main-image {
  position: relative;
  height: 300px;
  @media (min-width: 767px) {
    height: 444px;
  }
  @media(min-width: 991px) {
    margin-bottom: 30px;
    width: 444px;
    border-radius: 10px;
    overflow: hidden;
  }
  & > img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.thumbnails {
  display: flex;
  margin-left: -4px;

  li {
      flex: 0 0 auto;
      width: 89px;
      height: 89px;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      border: 4px solid transparent;
      cursor: pointer;
      margin-right: 21px;
    
      &:last-child {
        margin-right: 0;
      }
      &:hover,
      &.active {
        border-color: hsl(26, 100%, 55%);
        img {
          opacity: .5;
        }
      }

      img {
        position: absolute;
        object-fit: cover;
        height: 100%;
      }
  }
}

.active {
  border-color: hsl(26, 100%, 55%);
  img {
    opacity: .5;
  }
}

.next,
.prev {
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  img {
    max-width: 32px;
  }
}
.next {
  right: 15px;
}
.prev {
  left: 15px;
}