.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  padding: 1rem;
  border-radius: 14px;
  z-index: 30;
  // animation: slide-down 300ms ease-out forwards;
}

// @media (min-width: 768px) {
//   .modal {
//     width: auto;
//     left: 50%;
//     transform: translateX(-50%);
//   }
// }

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modalClose {
  display: flex;
  margin-left: auto;
  width: 32px;
  margin-bottom: 10px;
  cursor: pointer;
  &:hover {
    svg {
      stroke: hsl(26, 100%, 55%);
    }
  }
  svg {
    max-width: 32px;
    stroke: #fff;
  }
}