.header {
	display: flex;
	align-items: center;
	padding: 20px 0;

	@media (min-width: 991px) {
		align-items: stretch;
		padding: 0;
		height: 80px;
		border-bottom: 1px solid hsl(220, 14%, 75%);
	}
}

.account-nav {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.logo {
	margin-left: 20px;
	display: flex;
	align-items: center;
	@media (min-width: 991px) {
		margin-right: 70px;
		margin-left: 0;
	}
}

.burger-menu {
	display: flex;
	align-items: center;
}